In [28]:
import datetime as datetime
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt

#Permite ver los graficos sin colocar plt.show
%matplotlib inline 

plt.style.use('default')
#plt.rcParams['figure.figsize'] = (15, 5)

data = pd.read_csv("properati-AR-2017-08-01-properties-sell.csv")
data.head()

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,c8a66ee9e3da083ab66dacd165e8a5cc718b1cf2,2012-09-19,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,...,93.0,360.360360,1290.322581,NaN,NaN,NaN,http://www.properati.com.ar/udh_venta_casa_mer...,CASA CON LOCAL EN VENTA EN PADUA.2 DORMITORIOS...,CASA EN VENTA,https://thumbs4.properati.com/1/ufoyqwscVk8n3e...
1,a205c53378e7879cf7519659317fb410c060d20e,2012-10-22,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,...,220.0,1000.000000,1000.000000,NaN,NaN,NaN,http://www.properati.com.ar/20hi_venta_casa_me...,CHALET VENTA 4 AMBIENTES PADUA.EXCELENTE CHALE...,CASA EN VENTA,https://thumbs4.properati.com/5/I5RS_jAIUseo9H...
2,e06d6f864a0b91346594da4d27ceddcef0947ea6,2012-11-01,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0199509,-57.5265733",...,42.0,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/336o_venta_departa...,DTO. 2 AMB. C/ VISTA PLENA AL 6 X 3DOMITORIO ...,DTO. 2 AMB. C/ VISTA PLENA AL MAR,https://thumbs4.properati.com/5/VjDOdzm9n8uqZu...
3,a07927207d2a03de5f4ba7fd76f670d6285a3315,2012-11-26,sell,house,Sierra de los Padres,|Argentina|Buenos Aires Interior|General Pueyr...,Argentina,Buenos Aires Interior,3427958.0,"-37.9511934894,-57.7752885836",...,265.0,NaN,NaN,NaN,6.0,NaN,http://www.properati.com.ar/47hc_venta_terreno...,PROPIEDAD DE CATEGORIA CUENTA CON: 4 DORMITOR...,CHALET EN VENTA,https://thumbs4.properati.com/9/DA4GMdxXrthh5z...
4,9446052c949050359fb08b9f1ba83ba2eaa20c99,2012-12-08,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6544492346,-58.4895603251",...,103.0,616.666667,1796.116505,NaN,5.0,NaN,http://www.properati.com.ar/4m4m_venta_casa_ma...,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA,https://thumbs4.properati.com/6/DsNJjCb5_zIPV0...

In [29]:
dataCapGba = data.loc[(data.state_name.str.contains('Capital Federal') | data.state_name.str.contains('G.B.A') ) & data.operation.str.contains('sell') , ['created_on','operation', 'property_type', 'state_name', 'place_name', 'lat', 'lon', 'price', 'currency', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor', 'rooms', 'expenses', 'description']]
dataCapGba.sort_values('price_usd_per_m2', ascending = False).head()

,created_on,operation,property_type,state_name,place_name,lat,lon,price,currency,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description
27207,2016-04-07,sell,PH,Bs.As. G.B.A. Zona Oeste,General Rodríguez,NaN,NaN,15252325.0,USD,12.0,15.0,1.271027e+06,1.016822e+06,NaN,1.0,NaN,Popopopo - Publicado a traves de VisualGestion -
92744,2017-04-28,sell,apartment,Capital Federal,Boedo,-34.622204,-58.416089,6809000.0,USD,33.0,33.0,2.063333e+05,2.063333e+05,NaN,1.0,NaN,Departamento 1 ambiente divisible Depto en CU...
92144,2017-04-28,sell,apartment,Capital Federal,Boedo,NaN,NaN,5214782.0,USD,30.0,30.0,1.738261e+05,1.738261e+05,NaN,1.0,NaN,lan840- DEPTO FINANCIACION DIRECTA EN PESOSAnt...
92300,2017-04-28,sell,apartment,Capital Federal,Boedo,NaN,NaN,3657014.0,USD,35.0,35.0,1.044861e+05,1.044861e+05,NaN,1.0,NaN,fac030- Depto anticipo en 10 meses y saldo en ...
180238,2017-07-26,sell,house,Bs.As. G.B.A. Zona Oeste,Ituzaingó,-34.657171,-58.682625,12000000.0,USD,150.0,85.0,8.000000e+04,1.411765e+05,NaN,NaN,NaN,"CODIGO: ubicado en: MONSEÑOR TERRERO , Ituzai..."

In [30]:
dataCapGbaMenoresA10K = dataCapGba.loc[dataCapGba['price_usd_per_m2'] < 10000,:]
dataCapGbamayoresA1000 = dataCapGbaMenoresA10K.loc[dataCapGbaMenoresA10K['price_usd_per_m2'] > 1000,:]
dataCapGbamayoresA1000.sort_values('price_usd_per_m2', ascending = False).head()

,created_on,operation,property_type,state_name,place_name,lat,lon,price,currency,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description
97079,2017-05-09,sell,house,Capital Federal,Palermo,-34.578327,-58.400505,2990000.0,USD,300.0,380.0,9966.666667,7868.421053,NaN,NaN,NaN,"Casa en excelente estado, reciclada, gran Livi..."
92241,2017-04-28,sell,apartment,Capital Federal,Boedo,NaN,NaN,347850.0,USD,35.0,35.0,9938.571429,9938.571429,NaN,1.0,NaN,fac025- Monoambiente en el contrafrente a part...
96840,2017-05-09,sell,apartment,Capital Federal,Puerto Madero,-34.611493,-58.360985,1600000.0,USD,161.0,161.0,9937.888199,9937.888199,NaN,NaN,NaN,ALVEAR TOWER. Espectacular departamento en el ...
247,2013-05-24,sell,apartment,Bs.As. G.B.A. Zona Norte,Pilar,-34.452738,-58.915705,347200.0,USD,35.0,31.0,9920.000000,11200.000000,NaN,1.0,NaN,HERMOSO MONOAMBIENTE CON BALCON AL FRENTE A ES...
121426,2017-07-04,sell,house,Bs.As. G.B.A. Zona Norte,Acassuso,-34.472209,-58.499679,9900000.0,USD,1000.0,1000.0,9900.000000,9900.000000,NaN,NaN,NaN,Casa importante en lote privilegiado con vista...

In [31]:
dataCapGbaSupmayor5 = dataCapGbamayoresA1000.loc[dataCapGbamayoresA1000['surface_total_in_m2'] > 5, :]
dataCapGbaSupmayor5.describe()

,lat,lon,price,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,38724.000000,38724.000000,6.111300e+04,61113.000000,58215.000000,61113.000000,58213.000000,6206.000000,24053.000000,1.142400e+04
mean,-34.582562,-58.487629,3.956605e+05,130.855055,112.817367,2304.106303,4935.292121,4.244441,2.746477,5.061466e+03
std,0.123486,0.154857,8.831750e+05,178.888310,179.480629,1079.522462,13789.624782,5.218979,1.369102,1.326464e+05
min,-38.416097,-63.616672,1.800000e+04,10.000000,0.000000,1001.540832,14.166445,1.000000,1.000000,1.000000e+00
25%,-34.623337,-58.556645,1.090000e+05,49.000000,44.000000,1583.018868,1820.000000,2.000000,2.000000,1.000000e+03
50%,-34.596327,-58.457164,1.790000e+05,75.000000,67.000000,2080.000000,2424.242424,3.000000,3.000000,2.000000e+03
75%,-34.556021,-58.407168,3.550000e+05,150.000000,130.000000,2708.333333,3258.426966,6.000000,4.000000,4.000000e+03
max,-27.359704,-56.160010,5.000000e+07,7832.000000,22518.000000,9966.666667,692046.000000,250.000000,32.000000,1.000150e+07

In [32]:
#Funcion para calcular distancias entre coordenadas (lat, lon)
from math import sin,cos,sqrt,asin,pi

#Formula del Harvesine sacada de
#https://joseguerreroa.wordpress.com/2012/11/13/distancia-entre-dos-puntos-de-la-superficie-terrestre-mediante-la-formula-de-haversine-con-python/
#coord = (lat, long)
def distancia(coord1, coord2):
    rTierra = 6374000 #metros
    c = pi/180 #para pasar a raddianes
    d = 2*rTierra*asin(sqrt(sin(c*(coord2[0]-coord1[0])/2)**2 + cos(c*coord1[0])*cos(c*coord2[0])*sin(c*(coord2[1]-coord1[1])/2)**2))
    return d

#reg = created_on, place_name, lat, lon, price_usd_per_m2
def distanciaANuevasEstaciones(reg):
    created_on, place_name, lat, lon, price_usd_per_m2 = reg
    geoPos = lat, lon
    #Ubicacion de las estaciones
    Cordoba = (-34.598691, -58.403841) #Inicio Obras: 17 ene 2012 - Inauguracion: 18 dic 2015
    SantaFe = (-34.594848, -58.402517) #Inicio Obras: 17 ene 2012 - Inauguracion: 12 jul 2016
    LasHeras = (-34.587879, -58.397970) #Inicio Obras: 17 ene 2012 - Inauguracion: 18 dic 2015

    distACordoba = distancia(geoPos, Cordoba)
    distASantaFe = distancia(geoPos, SantaFe)
    distALasHeras = distancia(geoPos, LasHeras)
    

    return min(distACordoba, distASantaFe, distALasHeras)

#calcula la distancia en metros entre la propiedad y la villa 1-11-14. Recibe por parametro un registro
def distanciaA1_11_14(reg):
    created_on, property_type, place_name, lat, lon, price_usd_per_m2, surface_total_in_m2 = reg
    geoPos = lat, lon
    #Ubicacion
    villa_1_11_14 = (-34.648784, -58.440711) #Tomamos este como el punto central de la villa

    distA1_11_14 = distancia(geoPos, villa_1_11_14)   

    return distA1_11_14

#calcula la distancia en metros entre la propiedad y la villa Fuerte Apacha. Recibe por parametro un registro
def distanciaAFuerteApache(reg):
    created_on, property_type, place_name, lat, lon, price_usd_per_m2, surface_total_in_m2, distanciaA1_11_14 = reg
    geoPos = lat, lon
    #Ubicacion
    fuerteApache = (-34.622374, -58.539921) #Tomamos este como el punto central de la villa

    distAfuerteApache = distancia(geoPos, fuerteApache)   

    return distAfuerteApache

distancia([-34.585149, -58.392506], (-34.587879, -58.397970))

585.3767135730074

## La cercania de la propiedad a una villa miseria afecta en el valor promedio de la misma?

## Para eso eliminamos todas las casas que no tengan ni latitud ni longitud

In [33]:
dataBarriosNoNulos = dataCapGbaSupmayor5.loc[dataCapGbaSupmayor5.place_name.notnull(), :]
dataBarriosNoNulos.head()

,created_on,operation,property_type,state_name,place_name,lat,lon,price,currency,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description
29,2013-03-23,sell,apartment,Bs.As. G.B.A. Zona Oeste,Ramos Mejía,NaN,NaN,88000.0,USD,60.0,60.0,1466.666667,1466.666667,1.0,2.0,200.0,VENTA DEPARTAMENTO 2 AMBIENTES EN RAMOS MEJÍA....
31,2013-03-23,sell,apartment,Bs.As. G.B.A. Zona Oeste,Villa Luzuriaga,NaN,NaN,52000.0,USD,37.0,37.0,1405.405405,1405.405405,8.0,2.0,131.0,VENTA DUPLEX 2 AMBIENTES EN VILLA LUZURIAGA.Un...
34,2013-03-28,sell,apartment,Bs.As. G.B.A. Zona Oeste,Ramos Mejía,NaN,NaN,140000.0,USD,93.0,83.0,1505.376344,1686.746988,NaN,NaN,NaN,VENTA TRIPLEX 4 AMBIENTES EN RAMOS MEJÍA.Excel...
35,2013-03-28,sell,apartment,Bs.As. G.B.A. Zona Oeste,Ramos Mejía,NaN,NaN,140000.0,USD,100.0,83.0,1400.000000,1686.746988,NaN,NaN,NaN,VENTA TRIPLEX 4 AMBIENTES EN RAMOS MEJÍA.Excel...
36,2013-03-28,sell,apartment,Bs.As. G.B.A. Zona Oeste,Ramos Mejía,NaN,NaN,140000.0,USD,100.0,86.0,1400.000000,1627.906977,NaN,NaN,NaN,VENTA TRIPLEX 4 AMBIENTES EN RAMOS MEJÍA.Excel...

In [34]:
#elimino propiedades que no tengan ni latitud ni longitud
dataLatLon = dataBarriosNoNulos.loc[dataBarriosNoNulos.lat.notnull() & dataBarriosNoNulos.lon.notnull(), ['created_on', 'property_type', 'place_name', 'lat', 'lon', 'price_usd_per_m2', 'surface_total_in_m2']]

#agrego la distancia de las propiedades a las 2 villas que utilizaremos como ejemplo
dataLatLon.loc[:, 'distanciaA1_11_14'] = dataLatLon.apply(distanciaA1_11_14, axis = 1)
dataLatLon.loc[:, 'distanciaAfuerteApache'] = dataLatLon.apply(distanciaAFuerteApache, axis = 1)
dataLatLon = dataLatLon.sort_values(('distanciaA1_11_14'), ascending=True)

#elimino propiedades con las mismas latitud y longitud para no tener repetidas
dataLatLon = dataLatLon.drop_duplicates(['lat', 'lon'], keep='first')

#vamos a comparar propiedades que estan entre 1000 y 1500mts de distancia con propiedades entre 1500 y 2000mts de distancia
cercanasA1_11_14 = dataLatLon.loc[(dataLatLon['distanciaA1_11_14'] > 1000) & (dataLatLon['distanciaA1_11_14'] < 2000), :]
cercanasA1_11_14.loc[:, 'price'] = cercanasA1_11_14['price_usd_per_m2'] * cercanasA1_11_14['surface_total_in_m2']
cercanasA1_11_14.head()

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,created_on,property_type,place_name,lat,lon,price_usd_per_m2,surface_total_in_m2,distanciaA1_11_14,distanciaAfuerteApache,price
166686,2017-07-19,apartment,Flores,-34.642156,-58.448928,1745.098039,51.0,1053.180646,8614.958789,89000.0
97305,2017-05-10,apartment,Parque Chacabuco,-34.639724,-58.437121,1695.652174,46.0,1060.126794,9605.925702,78000.0
39119,2016-08-13,PH,Parque Chacabuco,-34.639305,-58.441937,1122.994652,187.0,1060.426747,9164.856687,210000.0
125964,2017-07-10,PH,Flores,-34.641892,-58.448867,1357.142857,56.0,1070.044311,8612.944021,76000.0
166791,2017-07-19,PH,Capital Federal,-34.638989,-58.440545,1770.833333,48.0,1089.724553,9282.526947,85000.0

In [35]:
#funcion que indica entre que rango se encuentra la propiedad
def descripcionDistancia(reg):
    created_on, property_type, place_name, lat, lon, price_usd_per_m2, surface_total_in_m2, distanciaA1_11_14, distanciaAfuerteApache, price = reg
    distancia = distanciaA1_11_14
    if (distancia < 1500):
        return '1000 a 1500mts'
    else:
        return '1500 a 2000mts'

## Para ser justos, comparamos propiedades que tengan una cantidad parecida de metros cuadrados entre si

In [36]:
#propiedades entre 25 y 50 metros cuadrados
cercanasA1_11_14Entre25Y50mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 25) & (cercanasA1_11_14['surface_total_in_m2'] < 50)]
cercanasA1_11_14Entre25Y50mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre25Y50mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre25Y50mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                         price
Distancia a 1-11-14
1000 a 1500mts       74656.250
1500 a 2000mts       72069.922

In [37]:
#propiedades entre 50 y 75 metros cuadrados
cercanasA1_11_14Entre50Y75mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 50) & (cercanasA1_11_14['surface_total_in_m2'] < 75)]
cercanasA1_11_14Entre50Y75mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre50Y75mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre50Y75mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                             price
Distancia a 1-11-14
1000 a 1500mts       130888.888889
1500 a 2000mts       132759.090909

In [38]:
#propiedades entre 75 y 100 metros cuadrados
cercanasA1_11_14Entre75Y100mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 75) & (cercanasA1_11_14['surface_total_in_m2'] < 100)]
cercanasA1_11_14Entre75Y100mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre75Y100mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre75Y100mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                             price
Distancia a 1-11-14
1000 a 1500mts       120416.666667
1500 a 2000mts       126464.285714

In [39]:
#propiedades entre 100 y 125 metros cuadrados
cercanasA1_11_14Entre100Y125mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 100) & (cercanasA1_11_14['surface_total_in_m2'] < 125)]
cercanasA1_11_14Entre100Y125mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre100Y125mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre100Y125mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                             price
Distancia a 1-11-14
1000 a 1500mts       202200.000000
1500 a 2000mts       188622.313333

In [40]:
#propiedades entre 125 y 150 metros cuadrados
cercanasA1_11_14Entre125Y150mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 125) & (cercanasA1_11_14['surface_total_in_m2'] < 150)]
cercanasA1_11_14Entre125Y150mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre125Y150mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre125Y150mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                             price
Distancia a 1-11-14
1000 a 1500mts       245000.000000
1500 a 2000mts       188816.666667

In [41]:
#propiedades entre 150 y 200 metros cuadrados
cercanasA1_11_14Entre150Y200mts = cercanasA1_11_14.loc[(cercanasA1_11_14['surface_total_in_m2'] >= 150) & (cercanasA1_11_14['surface_total_in_m2'] < 200)]
cercanasA1_11_14Entre150Y200mts.loc[:, 'Distancia a 1-11-14'] = cercanasA1_11_14Entre150Y200mts.apply(descripcionDistancia, axis = 1)
cercanasA1_11_14Entre150Y200mts.loc[:, ['price', 'Distancia a 1-11-14']].groupby('Distancia a 1-11-14').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                             price
Distancia a 1-11-14
1000 a 1500mts       264750.000000
1500 a 2000mts       252333.333333

In [42]:
#hago lo mismo pero ahora con la villa Fuerte Apache
cercanasAfuerteApache = dataLatLon.loc[(dataLatLon['distanciaAfuerteApache'] > 1000) & (dataLatLon['distanciaAfuerteApache'] < 2000), :]
cercanasAfuerteApache.loc[:, 'price'] = cercanasAfuerteApache['price_usd_per_m2'] * cercanasAfuerteApache['surface_total_in_m2']
cercanasAfuerteApache

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,created_on,property_type,place_name,lat,lon,price_usd_per_m2,surface_total_in_m2,distanciaA1_11_14,distanciaAfuerteApache,price
112799,2017-06-14,house,Versalles,-34.626014,-58.518720,1332.500000,400.0,7576.181756,1982.666227,533000.0
137184,2017-07-19,apartment,Capital Federal,-34.627719,-58.520388,2312.500000,32.0,7660.040592,1884.421849,74000.0
52642,2016-11-22,house,Monte Castro,-34.620687,-58.518299,1097.560976,328.0,7759.333832,1988.286914,360000.0
128973,2017-07-15,PH,Villa Devoto,-34.620230,-58.518406,2348.484848,66.0,7788.869712,1984.041490,155000.0
175844,2017-07-20,house,Versalles,-34.630567,-58.522961,1502.347418,213.0,7796.201491,1800.307426,320000.0
84376,2017-04-05,PH,Villa Real,-34.623565,-58.520682,1061.643836,146.0,7839.135876,1766.219535,155000.0
74982,2017-03-01,apartment,Versalles,-34.625119,-58.521469,2031.250000,96.0,7846.668830,1716.586324,195000.0
118069,2017-06-24,house,Versalles,-34.629006,-58.523001,1382.352941,170.0,7846.720134,1715.640530,235000.0
46938,2016-10-21,PH,Villa Devoto,-34.623470,-58.520960,1765.957447,47.0,7866.693980,1740.076122,83000.0
138183,2017-07-19,house,Villa Real,-34.622287,-58.520463,1056.910569,246.0,7872.589457,1781.348758,260000.0
3559,2014-03-25,apartment,Villa Devoto,-34.618828,-58.518806,1329.411765,51.0,7886.972814,1972.915371,67800.0
91388,2017-04-28,house,Versalles,-34.627237,-58.523226,1691.176471,68.0,7923.856500,1621.241691,115000.0
100136,2017-05-15,PH,Villa Real,-34.618448,-58.519366,1200.000000,150.0,7951.403684,1931.789367,180000.0
138255,2017-07-19,store,Liniers,-34.636230,-58.526627,3437.500000,16.0,7986.458404,1963.977537,55000.0
46994,2016-10-21,house,Villa Real,-34.621895,-58.521884,1080.000000,250.0,8009.534038,1652.117203,270000.0
143903,2017-07-19,apartment,Villa Real,-34.625591,-58.523736,1822.916667,96.0,8025.460064,1524.213830,175000.0
59234,2016-12-24,apartment,Villa Real,-34.618860,-58.520994,1833.333333,30.0,8067.510181,1776.297515,55000.0
119708,2017-06-29,PH,Villa Real,-34.622025,-58.522757,2732.142857,56.0,8078.411603,1571.769180,153000.0
124174,2017-07-06,house,Versalles,-34.627125,-58.524971,1750.000000,140.0,8079.957415,1467.075806,245000.0
8313,2015-01-08,apartment,Liniers,-34.636282,-58.527775,1704.545455,44.0,8089.014316,1905.289801,75000.0
184842,2017-07-29,PH,Capital Federal,-34.628895,-58.525861,1812.500000,80.0,8101.629668,1477.507869,145000.0
137719,2017-07-19,apartment,Liniers,-34.636323,-58.527945,2500.000000,42.0,8103.522418,1899.976869,105000.0
98989,2017-05-12,PH,Versalles,-34.628784,-58.525844,1408.333333,120.0,8103.527516,1472.819519,169000.0
113671,2017-06-16,house,Versalles,-34.630529,-58.526598,1631.868132,182.0,8119.146389,1520.060223,297000.0
85830,2017-04-09,PH,Versalles,-34.631705,-58.526978,1133.333333,150.0,8121.172781,1575.240468,170000.0
71524,2017-02-12,apartment,Liniers,-34.636280,-58.528259,2270.588235,85.0,8132.658284,1879.618579,193000.0
129818,2017-07-18,PH,Villa Real,-34.620516,-58.522952,1806.818182,88.0,8158.255612,1567.167864,159000.0
178222,2017-07-24,apartment,Capital Federal,-34.634130,-58.528175,1596.153846,52.0,8169.490533,1693.123607,83000.0
138213,2017-07-19,house,Capital Federal,-34.629032,-58.526819,2215.568862,167.0,8181.974471,1409.644274,370000.0
84115,2017-04-05,apartment,Villa Luro,-34.625050,-58.525324,1795.454545,44.0,8182.401712,1369.058764,79000.0
...,...,...,...,...,...,...,...,...,...,...
127489,2017-07-13,apartment,Sáenz Peña,-34.608421,-58.530858,1792.452830,53.0,9394.638978,1760.155941,95000.0
21281,2015-11-18,apartment,Villa Raffo,-34.610402,-58.532289,1349.206349,63.0,9407.823045,1504.048461,85000.0
22484,2015-12-29,PH,Ciudadela,-34.636428,-58.542664,1857.142857,35.0,9431.925009,1583.505080,65000.0
121960,2017-07-04,apartment,Villa Raffo,-34.610933,-58.533074,1507.936508,63.0,9445.336911,1418.781662,95000.0
85343,2017-04-08,apartment,Villa Raffo,-34.611085,-58.533346,1804.878049,82.0,9460.121855,1392.722436,148000.0
66791,2017-02-04,apartment,Villa Raffo,-34.608692,-58.532181,1363.636364,88.0,9486.963319,1678.948994,120000.0
26355,2016-03-24,apartment,Villa Raffo,-34.607765,-58.531723,1600.000000,50.0,9499.075709,1790.122888,80000.0
19310,2015-10-01,PH,Ciudadela,-34.635298,-58.543295,1150.000000,80.0,9508.159886,1470.507086,92000.0
42052,2016-09-08,PH,Ciudadela,-34.637424,-58.543816,1276.315789,76.0,9520.864129,1711.796500,97000.0
138235,2017-07-19,apartment,Ciudadela,-34.636025,-58.543859,1311.111111,45.0,9546.738699,1560.828139,59000.0
122490,2017-07-04,PH,Ciudadela,-34.632045,-58.543144,1040.000000,50.0,9558.498636,1115.570983,52000.0
111086,2017-06-09,apartment,Ciudadela,-34.635788,-58.544342,1764.705882,34.0,9594.411152,1546.202131,60000.0
21561,2015-11-26,apartment,Villa Raffo,-34.607579,-58.533132,1079.545455,88.0,9622.311772,1759.294432,95000.0
105450,2017-05-30,apartment,Sáenz Peña,-34.607597,-58.533377,1455.882353,68.0,9641.099552,1749.720671,99000.0
119074,2017-06-27,apartment,Sáenz Peña,-34.607356,-58.534126,1595.744681,47.0,9714.173549,1752.904624,75000.0
122491,2017-07-04,PH,Ciudadela,-34.635003,-58.546103,1090.909091,66.0,9767.153084,1514.630396,72000.0
33659,2016-06-27,apartment,Ciudadela,-34.637709,-58.550615,1020.000000,50.0,10134.004183,1966.893304,51000.0
122497,2017-07-04,house,Ciudadela,-34.636956,-58.551051,1219.512195,41.0,10184.179618,1915.640886,50000.0
13099,2015-06-05,apartment,Ciudadela,-34.636209,-58.551478,1400.000000,35.0,10233.960653,1867.582326,49000.0
21163,2015-11-17,apartment,Ramos Mejía,-34.635546,-58.554576,1875.000000,40.0,10525.058307,1986.714179,75000.0
61903,2017-01-12,house,La Matanza,-34.635590,-58.554690,1100.000000,200.0,10534.716246,1997.310247,220000.0
58042,2016-12-18,apartment,Caseros,-34.615399,-58.549481,1812.500000,80.0,10626.552769,1169.643693,145000.0
42384,2016-09-12,house,Caseros,-34.615055,-58.550139,1157.894737,190.0,10696.379678,1240.171212,220000.0
42511,2016-09-15,apartment,Caseros,-34.614954,-58.550261,1132.075472,106.0,10710.771489,1255.980430,120000.0
48697,2016-10-29,apartment,Caseros,-34.614902,-58.550253,1111.111111,117.0,10712.163391,1259.251511,130000.0
179101,2017-07-25,house,Caseros,-34.610164,-58.550650,1217.391304,69.0,10942.468975,1676.287177,84000.0
46700,2016-10-21,apartment,Caseros,-34.609009,-58.553412,1270.270270,37.0,11225.554449,1932.993788,47000.0
86667,2017-04-13,house,Caseros,-34.613895,-58.556183,1375.000000,120.0,11260.057693,1762.470242,165000.0
113045,2017-06-14,PH,Caseros,-34.614682,-58.557811,1170.212766,47.0,11370.502683,1847.921467,55000.0
81057,2017-03-24,apartment,Caseros,-34.614719,-58.558409,1100.000000,50.0,11420.806245,1894.814776,55000.0

In [43]:
#funcion que indica entre que rango se encuentra la propiedad
def descripcionDistancia2(reg):
    created_on, property_type, place_name, lat, lon, price_usd_per_m2, surface_total_in_m2, distanciaA1_11_14, distanciaAfuerteApache, price = reg
    distancia = distanciaAfuerteApache
    if (distancia < 1500):
        return '1000 a 1500mts'
    else:
        return '1500 a 2000mts'

In [44]:
#propiedades entre 25 y 50 metros cuadrados
cercanasAfuerteApacheEntre25Y50mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 25) & (cercanasAfuerteApache['surface_total_in_m2'] < 50)]
cercanasAfuerteApacheEntre25Y50mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre25Y50mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre25Y50mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                                  price
Distancia a Fuerte Apache
1000 a 1500mts             78750.000000
1500 a 2000mts             65741.916667

In [45]:
#propiedades entre 50 y 75 metros cuadrados
cercanasAfuerteApacheEntre50Y75mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 50) & (cercanasAfuerteApache['surface_total_in_m2'] < 75)]
cercanasAfuerteApacheEntre50Y75mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre50Y75mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre50Y75mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                                  price
Distancia a Fuerte Apache
1000 a 1500mts             99571.428571
1500 a 2000mts             99458.823529

In [46]:
#propiedades entre 75 y 100 metros cuadrados
cercanasAfuerteApacheEntre75Y100mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 75) & (cercanasAfuerteApache['surface_total_in_m2'] < 100)]
cercanasAfuerteApacheEntre75Y100mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre75Y100mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre75Y100mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                                   price
Distancia a Fuerte Apache
1000 a 1500mts             145428.571429
1500 a 2000mts             145555.555556

In [47]:
#propiedades entre 100 y 125 metros cuadrados
cercanasAfuerteApacheEntre100Y125mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 100) & (cercanasAfuerteApache['surface_total_in_m2'] < 125)]
cercanasAfuerteApacheEntre100Y125mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre100Y125mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre100Y125mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                                   price
Distancia a Fuerte Apache
1000 a 1500mts             146800.000000
1500 a 2000mts             203333.333333

In [48]:
#propiedades entre 125 y 150 metros cuadrados
#Hay una sola casa para la distancia entre 1500 y 2000mts. No vamos a tener en cuenta este dato por falta de propiedades.
cercanasAfuerteApacheEntre125Y150mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 125) & (cercanasAfuerteApache['surface_total_in_m2'] < 150)]
cercanasAfuerteApacheEntre125Y150mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre125Y150mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre125Y150mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                              price
Distancia a Fuerte Apache
1000 a 1500mts             199500.0
1500 a 2000mts             155000.0

In [49]:
#propiedades entre 150 y 200 metros cuadrados
cercanasAfuerteApacheEntre150Y200mts = cercanasAfuerteApache.loc[(cercanasAfuerteApache['surface_total_in_m2'] >= 150) & (cercanasAfuerteApache['surface_total_in_m2'] < 200)]
cercanasAfuerteApacheEntre150Y200mts.loc[:, 'Distancia a Fuerte Apache'] = cercanasAfuerteApacheEntre150Y200mts.apply(descripcionDistancia2, axis = 1)
cercanasAfuerteApacheEntre150Y200mts.loc[:, ['price', 'Distancia a Fuerte Apache']].groupby('Distancia a Fuerte Apache').agg(np.mean)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                                   price
Distancia a Fuerte Apache
1000 a 1500mts             252000.000000
1500 a 2000mts             245333.333333

## Conclusion: No encontramos una tendencia clara como para asegurar que la distancia a una villa miseria afecta en el valor promedio de las propiedades