In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

data = pd.read_csv("setEntrenamiento.csv", low_memory = False)
data = data.drop('Unnamed: 0', axis = 1)
data['created_on'] = pd.to_datetime(data['created_on'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86846 entries, 0 to 86845
Data columns (total 22 columns):
created_on                 86846 non-null datetime64[ns]
property_type              86846 non-null object
lat                        86846 non-null float64
lon                        86846 non-null float64
barrio                     86846 non-null object
price_aprox_usd            86846 non-null float64
price_usd_per_m2           86846 non-null float64
surface_total_in_m2        86846 non-null float64
surface_covered_in_m2      86846 non-null float64
zona                       86846 non-null object
pileta                     86846 non-null int64
cochera                    86846 non-null int64
aire acondicionado         86846 non-null int64
seguridad                  86846 non-null int64
patio                      86846 non-null int64
amenities                  86846 non-null int64
distanciaCentro            86846 non-null float64
distanciaAIndoamericano    86846 non-null float64
distanciaAFuerteApache     86846 non-null float64
distanciaACarlosGardel     86846 non-null float64
subtes_cercanos            86846 non-null int64
trenes_cercanos            86846 non-null int64
dtypes: datetime64[ns](1), float64(10), int64(8), object(3)
memory usage: 14.6+ MB

In [65]:
def fechaNumerica(x):
    return 10000*x.year + 100*x.month + x.day

In [66]:
dicc_tipos_prop = {"apartment" : 1, "house" : 2, "PH" : 3, "store" : 4}
dicc_tipos_zona = {"Bs.As. G.B.A. Zona Norte": 1, "Bs.As. G.B.A. Zona Oeste": 2, "Bs.As. G.B.A. Zona Sur": 3, "Capital Federal": 4 }
data.loc[:, 'property_type'] = data.property_type.apply(lambda x: dicc_tipos_prop.get(x))
data.loc[:, 'zona'] = data.zona.apply(lambda x: dicc_tipos_zona.get(x))
data.loc[:, 'created_on'] = data.created_on.apply(fechaNumerica)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86846 entries, 0 to 86845
Data columns (total 22 columns):
created_on                 86846 non-null int64
property_type              86846 non-null int64
lat                        86846 non-null float64
lon                        86846 non-null float64
barrio                     86846 non-null object
price_aprox_usd            86846 non-null float64
price_usd_per_m2           86846 non-null float64
surface_total_in_m2        86846 non-null float64
surface_covered_in_m2      86846 non-null float64
zona                       86846 non-null int64
pileta                     86846 non-null int64
cochera                    86846 non-null int64
aire acondicionado         86846 non-null int64
seguridad                  86846 non-null int64
patio                      86846 non-null int64
amenities                  86846 non-null int64
distanciaCentro            86846 non-null float64
distanciaAIndoamericano    86846 non-null float64
distanciaAFuerteApache     86846 non-null float64
distanciaACarlosGardel     86846 non-null float64
subtes_cercanos            86846 non-null int64
trenes_cercanos            86846 non-null int64
dtypes: float64(10), int64(11), object(1)
memory usage: 14.6+ MB

In [52]:
serieBarrios = data.loc[:,'barrio'].drop_duplicates()
serieBarrios
dicc_barrios = {}
comodin = 0

for x in serieBarrios:
    dicc_barrios[x] = comodin
    comodin += 1

dicc_barrios
dicc_barrios['Buenos Aires Interior'] = dicc_barrios['Palermo']
dicc_barrios['Villa Numancia'] = comodin
comodin +=1
dicc_barrios['Domselaar'] = dicc_barrios['San Vicente']
dicc_barrios['Barrio Parque San Martin'] = dicc_barrios['Merlo']
dicc_barrios['Villa Riachuelo'] = comodin
comodin +=1
dicc_barrios['Bs.As. G.B.A. Zona Sur'] = comodin
dicc_barrios['Bosques'] = dicc_barrios['Florencio Varela']
dicc_barrios['Altos de Hudson I'] = dicc_barrios['Altos de Hudson II']
comodin +=1
dicc_barrios['Sourigues'] = comodin
comodin +=1
dicc_barrios['Haras San Pablo'] = comodin
comodin +=1
dicc_barrios['La horqueta de Echeverr\xc3\xada'] = comodin
comodin +=1
dicc_barrios['Terralagos'] = comodin
comodin +=1
dicc_barrios['El Roc\xc3\xado'] = comodin
dicc_barrios['Abril Club de Campo'] = dicc_barrios['Berazategui']
dicc_barrios['Uribelarrea'] = dicc_barrios['Ca\xc3\xb1uelas']
dicc_barrios['Villa Brown'] = dicc_barrios['Florencio Varela']
dicc_barrios['Santa Juana'] = dicc_barrios['Esteban Echeverr\xc3\xada']
dicc_barrios['San Diego Country Club'] = dicc_barrios['Moreno']
dicc_barrios['Villa España'] = dicc_barrios['Berazategui']
dicc_barrios['Pereyra'] = dicc_barrios['Berazategui']
dicc_barrios['Los Pingüinos Country Club'] = dicc_barrios['Ituzaing\xc3\xb3']
dicc_barrios['Arturo Seguí'] = dicc_barrios['La Plata']
dicc_barrios['Mariano Acosta'] = dicc_barrios['Merlo']
dicc_barrios['Country El Venado'] = dicc_barrios['Esteban Echeverr\xc3\xada']
dicc_barrios['Melchor Romero'] = dicc_barrios['La Plata']
dicc_barrios['Barrio Cerrado Malibú'] = dicc_barrios['Presidente Per\xc3\xb3n']

dicc_barrios

{'9 de Abril': 448,
 'Abasto': 53,
 'Abril Club de Campo': 75,
 'Acacias Blancas': 195,
 'Acassuso': 156,
 'Adrogu\xc3\xa9': 97,
 'Aeropuerto Internacional Ezeiza': 260,
 'Agronom\xc3\xada': 55,
 'Albanueva Barrio Cerrado': 270,
 'Aldo Bonzi': 198,
 'Alejandro Korn': 218,
 'Alejandro Peti\xc3\xb3n': 335,
 'Almagro': 20,
 'Almirante Brown': 286,
 'Altamira': 388,
 'Altos de Hudson I': 329,
 'Altos de Hudson II': 329,
 'Altos de Manzanares 1 y 2': 307,
 'Altos de Matheu': 397,
 'Altos del Golf': 376,
 'Altos del Pilar': 264,
 'Armenia Country Club': 313,
 'Arturo Segu\xc3\xad': 138,
 'Avellaneda': 124,
 'Bah\xc3\xada del Sol': 354,
 'Balvanera': 33,
 'Banfield': 102,
 'Barbarita, Barrio Cerrado': 287,
 'Barracas': 17,
 'Barrancas de San Jose': 352,
 'Barrancas de Santa Mar\xc3\xada': 430,
 'Barrio Acacias': 364,
 'Barrio Araucarias': 389,
 'Barrio Cerrado "Ayres Plaza"': 401,
 'Barrio Cerrado "Buen Retiro"': 277,
 'Barrio Cerrado "Buenos Aires Village"': 336,
 'Barrio Cerrado "El Casco de Moreno"': 206,
 'Barrio Cerrado "Isla del Sol"': 414,
 'Barrio Cerrado "La Candelaria"': 424,
 'Barrio Cerrado "La Cautiva del Pilar"': 314,
 'Barrio Cerrado "La Damasia"': 436,
 'Barrio Cerrado "La Delfina"': 302,
 'Barrio Cerrado "La Montura"': 412,
 'Barrio Cerrado "La Otilia"': 306,
 'Barrio Cerrado "La Tranquera"': 368,
 'Barrio Cerrado "Las Mar\xc3\xadas"': 440,
 'Barrio Cerrado "Los Alcanfores"': 405,
 'Barrio Cerrado "Los Ceibos"': 288,
 'Barrio Cerrado "Los Fresnos"': 355,
 'Barrio Cerrado "Los Omb\xc3\xbaes de Hudson"': 332,
 'Barrio Cerrado "Los Potrillos"': 392,
 'Barrio Cerrado "Los Senderos"': 437,
 'Barrio Cerrado "Roble Joven"': 416,
 'Barrio Cerrado "Soles de Pilar"': 319,
 'Barrio Cerrado "SpringDale"': 402,
 'Barrio Cerrado "Tres Horquetas"': 429,
 'Barrio Cerrado "Villa Rosa"': 410,
 'Barrio Cerrado El Casco de Alvarez': 428,
 'Barrio Cerrado El Lucero': 438,
 'Barrio Cerrado Lagos del Norte': 450,
 'Barrio Cerrado Las Casuarinas': 308,
 'Barrio Cerrado Malib\xc3\xba': 92,
 'Barrio El Moro': 215,
 'Barrio La Casualidad': 294,
 'Barrio La Cuesta': 315,
 'Barrio La Deseada': 221,
 'Barrio Marinas': 415,
 'Barrio Melazzi': 413,
 'Barrio Norte': 31,
 'Barrio Parque Almirante Ir\xc3\xadzar': 423,
 'Barrio Parque General San Martin': 237,
 'Barrio Parque San Martin': 131,
 'Barrio Privado "Ayres de Pilar"': 100,
 'Barrio Privado "Lomas de F\xc3\xa1tima"': 312,
 'Barrio Privado El Recodo  S.A.': 426,
 'Barrio Privado El Resuello': 361,
 'Barrio Privado El Rodal': 381,
 'Barrio Privado La Campi\xc3\xb1a': 213,
 'Barrio Privado Santa Rita': 443,
 'Barrio San Agustin': 356,
 'Barrio San Eduardo - Pilar del Este': 409,
 'Barrio San Gabriel': 254,
 'Barrio San Mat\xc3\xadas': 363,
 'Barrio San Rafael': 351,
 'Barrio Santa Clara': 282,
 'Barrio Santa Teresa': 272,
 'Barrio Vistas': 422,
 'Barrio cerrado Camino Real': 347,
 'Barrio cerrado La Cascada': 372,
 'Barrio cerrado Santa Ana': 349,
 'Beccar': 145,
 'Belgrano': 2,
 'Bella Vista': 85,
 'Bel\xc3\xa9n de Escobar': 143,
 'Benavidez': 62,
 'Benavidez Greens': 339,
 'Berazategui': 75,
 'Berazategui Oeste': 325,
 'Bermudas Country Club': 365,
 'Bernal': 151,
 'Billinghurst': 204,
 'Boat Center Barrio Cerrado': 263,
 'Boca': 49,
 'Boca Rat\xc3\xb3n': 207,
 'Boedo': 23,
 'Bosques': 188,
 'Boulogne Sur Mer': 66,
 'Brickland': 398,
 'Bs.As. G.B.A. Zona Norte': 199,
 'Bs.As. G.B.A. Zona Oeste': 179,
 'Bs.As. G.B.A. Zona Sur': 453,
 'Buenos Aires Interior': 1,
 'Burzaco': 96,
 'Caballito': 3,
 'Campo Grande Country Club': 419,
 'Campos de \xc3\x81lvarez': 191,
 'Canning': 91,
 'Capital Federal': 13,
 'Carapachay': 211,
 'Carlos Spegazzini': 208,
 'Caseros': 73,
 'Castelar': 99,
 'Catalinas': 56,
 'Ca\xc3\xb1uelas': 289,
 'Centro / Microcentro': 54,
 'Chacarita': 25,
 'Chacras de La Trinidad': 445,
 'City Bell': 261,
 'Ciudad Evita': 140,
 'Ciudad Jard\xc3\xadn Lomas del Palomar': 169,
 'Ciudadela': 137,
 'Claypole': 160,
 'Club El Carmen - Sector casas': 327,
 'Club de Campo Aranzazu': 105,
 'Coghlan': 11,
 'Colegiales': 26,
 'Complejo de Barrios Privados La Magdalena': 266,
 'Congreso': 18,
 'Constituci\xc3\xb3n': 44,
 'Country Banco Provincia': 234,
 'Country Club Aranjuez': 310,
 'Country Club Las lajas': 225,
 'Country El Venado': 86,
 'Country Farm Club': 300,
 'Country Golf El Sosiego': 228,
 'Country Maschwitz Club': 342,
 'Country Maschwitz Privado': 378,
 'Country Nuevo Quilmes': 330,
 'Country Saint Thomas': 154,
 'Country San Jorge Village': 311,
 'Cruce Castelar': 406,
 'Crucecita': 382,
 'Cuartel V': 399,
 'Del Viso': 185,
 'Delta': 164,
 'Derqui': 177,
 'Dique Luj\xc3\xa1n': 256,
 'Dock Sud': 393,
 'Domselaar': 98,
 'Don Bosco': 114,
 'Don Orione': 369,
 'Don Torcuato': 139,
 'Echeverr\xc3\xada del Lago': 362,
 'El Canton Barrio Puerto': 341,
 'El Casco de Leloir': 238,
 'El Cazador': 197,
 'El Centauro': 258,
 'El Encuentro': 358,
 'El Nacional Club de Campo': 377,
 'El Palomar': 79,
 'El Para\xc3\xadso de Guernica Country Club': 181,
 'El Pato': 180,
 'El Pato Country Club': 291,
 'El Peligro': 128,
 'El Pilar': 159,
 'El Portal': 217,
 'El Roc\xc3\xado': 458,
 'El Talar': 134,
 'El Talar de Pacheco': 235,
 'Escobar': 132,
 'Estancias del Pilar': 267,
 'Esteban Echeverr\xc3\xada': 86,
 'Etcheverry': 420,
 'Ex La Ponderosa': 127,
 'Ezeiza': 155,
 'Ezpeleta': 129,
 'Fincas de Hudson': 326,
 'Fincas de Iraola': 290,
 'Fincas de Iraola II': 111,
 'Fincas del Lago': 373,
 'Florencio Varela': 188,
 'Flores': 10,
 'Floresta': 6,
 'Florida': 108,
 'Florida Oeste': 212,
 'Francisco Alvarez': 246,
 'F\xc3\xa1tima': 247,
 'Galapagos Country Club': 383,
 'Gar\xc3\xadn': 122,
 'General Pacheco': 250,
 'General Rodr\xc3\xadguez': 146,
 'General San Mart\xc3\xadn': 200,
 'Gerli': 226,
 'Glew': 242,
 'Golf Club Argentino': 371,
 "Golfer's Country Club": 262,
 'Gonz\xc3\xa1lez Cat\xc3\xa1n': 231,
 'Grand Bell': 328,
 'Grand Bourg': 149,
 'GreenVille Polo & Resort': 386,
 'Gregorio de Laferrere': 230,
 'Guernica': 162,
 'Guillermo Hudson': 324,
 'Gutierrez': 175,
 'Hacoaj Barrio Cerrado': 394,
 'Haedo': 83,
 'Haras Mar\xc3\xada Elena': 269,
 'Haras Mar\xc3\xada Victoria': 183,
 'Haras San Pablo': 455,
 'Haras Santa Maria': 285,
 'Haras del Pilar - El Establo': 299,
 'Haras del Pilar - La Caballeriza': 182,
 'Haras del Pilar - Las Praderas 1 y 2': 309,
 'Haras del Sol - Barrio Privado': 433,
 'Haras del Sur I': 333,
 'Highland Park Country Club': 380,
 'Hindu Club': 439,
 'Hurlingham': 80,
 'Ingeniero Adolfo Sourdeaux': 158,
 'Ingeniero Juan Allan': 107,
 'Ingeniero Pablo Nogu\xc3\xa9s': 209,
 'Isidro Casanova': 68,
 'Islas': 165,
 'Ituzaing\xc3\xb3': 59,
 'Jose Leon Suarez': 236,
 'Jose Marmol': 178,
 'Jos\xc3\xa9 C Paz': 93,
 'La Ang\xc3\xa9lica': 321,
 'La Candelaria de Maschwitz': 257,
 'La Cesarina': 224,
 'La Comarca': 367,
 'La Lonja': 173,
 'La Lucila': 106,
 'La Madrugada': 190,
 'La Martinica': 390,
 'La Matanza': 60,
 'La Peregrina': 318,
 'La Pilarica': 295,
 'La Plata': 138,
 'La Reja': 196,
 'La Tablada': 67,
 'La Uni\xc3\xb3n': 435,
 'La horqueta de Echeverr\xc3\xada': 456,
 'Laguna del Sol': 344,
 'Lan\xc3\xbas': 118,
 'Lan\xc3\xbas Este': 115,
 'Lan\xc3\xbas Oeste': 147,
 'Las Ca\xc3\xb1itas': 43,
 'Las Golondrinas': 331,
 'Libertad': 90,
 'Liniers': 29,
 'Lisandro Olmos': 379,
 'Llavallol': 241,
 'Loma Hermosa': 144,
 'Loma Verde': 157,
 'Lomas de Benavidez': 322,
 'Lomas de Zamora': 88,
 'Lomas del Mirador': 61,
 'Longchamps': 161,
 'Los Angeles Village': 384,
 'Los Horneros CC': 446,
 'Los Hornos': 253,
 'Los Lagartos Country Club': 297,
 'Los Pilares - Barrio Privado': 316,
 'Los Ping\xc3\xbcinos Country Club': 59,
 'Los Polvorines': 84,
 'Los Robles de Maschwitz': 317,
 'Los Sauces Country Club': 301,
 'Los Tres Coniles': 434,
 'Luis Guill\xc3\xb3n': 240,
 'Malvinas Argentinas': 126,
 'Manuel Alberti': 219,
 'Manuel B Gonnet': 252,
 'Manzanares': 280,
 'Mapuche Country Club': 304,
 'Maquinista Savio': 396,
 'Marcos Paz': 112,
 'Mariano Acosta': 131,
 'Marinas Golf Barrio Cerrado': 323,
 'Martindale Country Club': 391,
 'Mart\xc3\xadn Coronado': 152,
 'Mart\xc3\xadnez': 103,
 'Maschwitz': 120,
 'Mataderos': 42,
 'Matheu': 150,
 'Mayling Club de Campo': 320,
 'Medal Country Club': 421,
 'Melchor Romero': 138,
 'Merlo': 131,
 'Ministro Rivadavia': 366,
 'Miraflores Country Club': 298,
 'Monserrat': 39,
 'Monte Castro': 22,
 'Monte Chingolo': 251,
 'Monte Grande': 87,
 'Moreno': 89,
 'Mor\xc3\xb3n': 82,
 'Munro': 168,
 'Mu\xc3\xb1iz': 81,
 'M\xc3\xa1ximo Paz': 425,
 'Nordelta': 101,
 'Nu\xc3\xb1ez': 14,
 'Olivos': 109,
 'Olivos Golf Club': 245,
 'Once': 8,
 'Pablo Podest\xc3\xa1': 214,
 'Pacheco Golf Club': 189,
 'Palermo': 1,
 'Parque Avellaneda': 50,
 'Parque Centenario': 32,
 'Parque Chacabuco': 35,
 'Parque Chas': 48,
 'Parque Leloir': 130,
 'Parque Patricios': 40,
 'Paso del Rey': 171,
 'Paternal': 52,
 'Pereyra': 75,
 'Pilar': 57,
 'Pilar Golf Country Club': 348,
 'Pilar Green Park': 411,
 'Pilar Village': 125,
 'Pilar del Lago': 293,
 'Pi\xc3\xb1eiro': 265,
 'Pompeya': 28,
 'Pontevedra': 249,
 'Prados del Oeste': 334,
 'Presidente Per\xc3\xb3n': 92,
 'Puerto Madero': 15,
 'Quilmes': 69,
 'Rafael Calzada': 167,
 'Rafael Castillo': 192,
 'Ramos Mej\xc3\xada': 74,
 'Ranelagh': 194,
 'Recoleta': 9,
 'Remedios de Escalada': 117,
 'Retiro': 27,
 'Ricardo Rojas': 283,
 'Rincon': 337,
 'Rincon Del Arca': 350,
 'Rinc\xc3\xb3n de Milberg': 141,
 'Rinc\xc3\xb3n de la Costa': 427,
 'Ringuelet': 243,
 'Saavedra': 5,
 'Saint Matthews': 340,
 'San Alberto': 400,
 'San Andres': 202,
 'San Antonio De Padua': 58,
 'San Carlos': 370,
 'San Cristobal': 0,
 'San Diego Country Club': 89,
 'San Eliseo Country, Golf, Hotel & Spa': 444,
 'San Fernando': 64,
 'San Francisco Solano': 220,
 'San Isidro': 104,
 'San Isidro Chico': 346,
 'San Jose': 431,
 'San Jos\xc3\xa9': 447,
 'San Juan': 292,
 'San Justo': 70,
 'San Lorenzo': 408,
 'San Mart\xc3\xadn': 78,
 'San Miguel': 94,
 'San Miguel Oeste': 279,
 'San Miguel de Ghiso': 278,
 'San Nicol\xc3\xa1s': 12,
 'San Telmo': 30,
 'San Vicente': 98,
 'Santa Barbara Barrio Cerrado': 271,
 'Santa Isabel': 305,
 'Santa Juana': 86,
 'Santa Mar\xc3\xada de los Olivos': 296,
 'Santa-Catalina': 281,
 'Santos Lugares': 186,
 'Santos Tesei': 222,
 'Sarandi': 170,
 'Septiembre': 357,
 'Solar del Bosque': 116,
 'Solares del Talar': 276,
 'Sourigues': 454,
 'St. Patrick Country': 229,
 'S\xc3\xa1enz Pe\xc3\xb1a': 136,
 'Talar del Lago 1': 274,
 'Talar del lago 2': 284,
 'Tapiales': 174,
 'Temperley': 133,
 'Terralagos': 457,
 'Terravista Barrio Privado': 418,
 'Tigre': 63,
 'Tolosa': 172,
 'Tortuguitas': 119,
 'Tres de Febrero': 72,
 'Tribunales': 38,
 'Trist\xc3\xa1n Su\xc3\xa1rez': 166,
 'Troncos del Talar': 239,
 'Trujui': 374,
 'Turdera': 275,
 'Uribelarrea': 289,
 'Valent\xc3\xadn Alsina': 148,
 'Velez Sarsfield': 46,
 'Versalles': 19,
 'Vicente Casares': 353,
 'Vicente L\xc3\xb3pez': 95,
 'Victoria': 176,
 'Villa Adelina': 163,
 'Villa Ariza': 113,
 'Villa Astolfi': 360,
 'Villa Ayacucho': 345,
 'Villa Ballester': 187,
 'Villa Bertha': 273,
 'Villa Bonich': 227,
 'Villa Bosch': 76,
 'Villa Brown': 188,
 'Villa Celina': 71,
 'Villa Crespo': 16,
 'Villa Devoto': 37,
 'Villa Dominico': 343,
 'Villa Elisa': 375,
 'Villa Elvira': 259,
 'Villa Espa\xc3\xb1a': 75,
 'Villa Fiorito': 407,
 'Villa General Mitre': 36,
 'Villa Libertad': 203,
 'Villa Lugano': 7,
 'Villa Luro': 4,
 'Villa Luzuriaga': 77,
 'Villa Lynch': 201,
 'Villa Madero': 233,
 'Villa Maipu': 244,
 'Villa Martelli': 210,
 'Villa Monteagudo': 205,
 'Villa Numancia': 451,
 'Villa Ortuzar': 34,
 'Villa Pacheco': 442,
 'Villa Pueyrred\xc3\xb3n': 24,
 'Villa Raffo': 248,
 'Villa Real': 51,
 'Villa Riachuelo': 452,
 'Villa Rosa': 216,
 'Villa Santa Rita': 41,
 'Villa Sarmiento': 110,
 'Villa Soldati': 255,
 'Villa Tesei': 135,
 'Villa Udaondo': 142,
 'Villa Urquiza': 21,
 'Villa Vatteone': 404,
 'Villa de Mayo': 193,
 'Villa del Parque': 47,
 'Village Golf & Tennis Country Club': 303,
 'Virrey del Pino': 232,
 'Virreyes': 65,
 'Wilde': 121,
 'William Morris': 417,
 'Zeballos': 223,
 'Zelaya': 153,
 'coordenadas 34.255511': 359,
 'los alamos': 403}

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [84]:
def generarMuestra(df):
    muestra = df.sample(frac = 0.8, replace = True)
  

    x_train = np.array(muestra.loc[:,['created_on', 'property_type', 'lat', 'lon', 'cochera', 'surface_total_in_m2',\
                       'surface_covered_in_m2', 'seguridad', 'aire acondicionado', 'patio', 'pileta', 'amenities', 'zona',\
                        'distanciaCentro', 'distanciaAIndoamericano', 'distanciaAFuerteApache', 'distanciaACarlosGardel',\
                        'subtes_cercanos', 'trenes_cercanos']])
    y_train = np.array(muestra.loc[:, 'price_aprox_usd'])

    return x_train, y_train

def generarTest(df):
    test = df.sample(frac = 0.2)
  

    x_test = np.array(test.loc[:,['created_on', 'property_type', 'lat', 'lon', 'cochera', 'surface_total_in_m2',\
                       'surface_covered_in_m2', 'seguridad', 'aire acondicionado', 'patio', 'pileta', 'amenities', 'zona',\
                        'distanciaCentro', 'distanciaAIndoamericano', 'distanciaAFuerteApache', 'distanciaACarlosGardel',\
                        'subtes_cercanos', 'trenes_cercanos']])
    y_test = np.array(test.loc[:, 'price_aprox_usd'])

    return x_test, y_test

def generarMuestra2(df):
    muestra = df.sample(frac = 0.8, replace = True)
  

    x_train = np.array(muestra.loc[:,['created_on', 'property_type', 'barrio', 'cochera', 'surface_total_in_m2',\
                       'surface_covered_in_m2', 'seguridad', 'aire acondicionado', 'patio', 'pileta', 'amenities', 'zona',\
                        'distanciaCentro', 'distanciaAIndoamericano', 'distanciaAFuerteApache', 'distanciaACarlosGardel',\
                        'subtes_cercanos', 'trenes_cercanos']])
    y_train = np.array(muestra.loc[:, 'price_aprox_usd'])

    return x_train, y_train

def generarTest2(df):
    test = df.sample(frac = 0.2)
  

    x_test = np.array(test.loc[:,['created_on', 'property_type', 'barrio', 'cochera', 'surface_total_in_m2',\
                       'surface_covered_in_m2', 'seguridad', 'aire acondicionado', 'patio', 'pileta', 'amenities', 'zona',\
                        'distanciaCentro', 'distanciaAIndoamericano', 'distanciaAFuerteApache', 'distanciaACarlosGardel',\
                        'subtes_cercanos', 'trenes_cercanos']])
    y_test = np.array(test.loc[:, 'price_aprox_usd'])

    return x_test, y_test

In [9]:
def salvarSupTotal(reg):
    if reg['surface_total_in_m2'] == 0:
        reg['surface_total_in_m2'] = 100
    return reg['surface_total_in_m2']

def salvarSupCovered(reg):
    
    if reg['surface_covered_in_m2'] == 0:
        reg['surface_covered_in_m2'] = 100
    return reg['surface_covered_in_m2']

In [11]:
setTesteo2 = pd.read_csv("setTesteo.csv", low_memory=False)
testId2 = setTesteo2['id']
setTesteo2['created_on'] = pd.to_datetime(setTesteo2['created_on'])
dicc_tipos_prop = {"apartment" : 1, "house" : 2, "PH" : 3, "store" : 4}
dicc_tipos_zona = {"Bs.As. G.B.A. Zona Norte": 1, "Bs.As. G.B.A. Zona Oeste": 2, "Bs.As. G.B.A. Zona Sur": 3, "Capital Federal": 4, "Buenos Aires Interior": 4 }
setTesteo2.loc[:, 'property_type'] = setTesteo2.property_type.apply(lambda x: dicc_tipos_prop.get(x))
setTesteo2.loc[:, 'zona'] = setTesteo2.zona.apply(lambda x: dicc_tipos_zona.get(x))
setTesteo2.loc[:, 'created_on'] = setTesteo2.created_on.apply(fechaNumerica)
setTesteo2['surface_total_in_m2'] = setTesteo2.apply(salvarSupTotal, axis=1)
setTesteo2['surface_covered_in_m2'] = setTesteo2.apply(salvarSupCovered, axis=1)
setTesteo2 = setTesteo2.drop('Unnamed: 0', axis = 1)
setTesteo2 = setTesteo2.drop('barrio', axis = 1)
setTesteo2 = setTesteo2.drop('id', axis = 1)
setTesteo2

,created_on,property_type,lat,lon,surface_total_in_m2,surface_covered_in_m2,zona,pileta,cochera,aire acondicionado,seguridad,patio,amenities,distanciaCentro,distanciaAIndoamericano,distanciaAFuerteApache,distanciaACarlosGardel,subtes_cercanos,trenes_cercanos
0,20170824,1,-34.610988,-58.363464,148.33945,142.197664,4,0,1,0,0,0,0,704.038997,11351.165788,16204.838456,19679.606657,0,0
1,20170825,1,-34.583720,-58.425026,100.00000,100.000000,4,1,0,1,1,0,1,5697.876799,9900.742379,11365.583195,14702.859068,1,1
2,20170801,1,-34.589363,-58.412880,53.00000,48.000000,4,0,0,0,0,0,1,4420.814586,9855.382683,12198.455831,15595.683747,1,0
3,20170801,1,-34.587481,-58.450823,39.00000,39.000000,4,0,0,0,0,0,0,7722.775814,8796.772759,9034.783476,12330.796054,1,1
4,20170801,1,-34.587481,-58.450823,51.00000,51.000000,4,0,0,0,0,0,0,7722.775814,8796.772759,9034.783476,12330.796054,1,1
5,20170801,1,-34.587481,-58.450823,39.00000,39.000000,4,0,0,0,0,0,0,7722.775814,8796.772759,9034.783476,12330.796054,1,1
6,20170801,1,-34.587481,-58.450823,39.00000,39.000000,4,0,0,0,0,0,0,7722.775814,8796.772759,9034.783476,12330.796054,1,1
7,20170801,1,-34.587481,-58.450823,39.00000,39.000000,4,0,0,0,0,0,0,7722.775814,8796.772759,9034.783476,12330.796054,1,1
8,20170801,1,-34.578721,-58.457095,67.00000,67.000000,4,0,0,0,0,0,0,8594.322017,9677.480007,9005.931100,12165.118425,0,0
9,20170801,1,-34.608808,-58.421084,47.00000,47.000000,4,0,0,0,0,0,1,4652.651825,7629.929971,10984.251791,14452.366160,1,0
10,20170801,1,-34.608808,-58.421084,47.00000,47.000000,4,0,0,0,0,0,1,4652.651825,7629.929971,10984.251791,14452.366160,1,0
11,20170801,1,-34.608808,-58.421084,47.00000,47.000000,4,0,0,0,0,0,1,4652.651825,7629.929971,10984.251791,14452.366160,1,0
12,20170801,1,-34.613029,-58.363783,64.00000,64.000000,4,0,0,0,0,0,0,812.172268,11207.022335,16159.251962,19634.232282,0,0
13,20170801,1,-34.562211,-58.442515,160.00000,160.000000,4,0,0,0,0,0,0,8353.681386,11702.349887,11152.122071,14190.026902,0,1
14,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
15,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
16,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
17,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
18,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
19,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
20,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
21,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
22,20170801,1,-34.598020,-58.439944,50.00000,50.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
23,20170801,1,-34.598020,-58.439944,51.00000,51.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
24,20170801,1,-34.598020,-58.439944,51.00000,51.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
25,20170801,1,-34.598020,-58.439944,51.00000,51.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
26,20170801,1,-34.598020,-58.439944,51.00000,51.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
27,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
28,20170801,1,-34.598020,-58.439944,39.00000,39.000000,4,0,0,0,0,0,0,6476.178638,7918.552487,9546.467122,12958.681376,1,0
29,20170801,1,-34.592987,-58.441542,39.00000,39.000000,4,0,0,0,0,0,0,6737.609635,8404.892230,9582.799575,12956.255802,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14136,20170805,1,-34.628012,-58.395797,55.00000,52.000000,4,0,0,0,0,0,0,3222.882527,7837.208512,13208.572291,16665.903990,1,0
14137,20170826,1,-34.618164,-58.468294,32.00000,32.000000,4,0,0,0,0,0,0,9044.250166,5232.892945,6574.108324,10049.053285,0,0
14138,20170821,1,-34.596431,-58.379939,69.00000,69.000000,4,0,0,0,0,0,0,1566.876104,11148.459646,14929.773342,18381.447550,1,1
14139,20170813,1,-34.576497,-58.459539,73.00000,73.000000,4,0,0,0,0,0,0,8896.583176,9902.428938,8957.037854,12069.499052,0,0
14140,20170828,1,-34.553826,-58.463944,45.00000,40.000000,4,0,0,0,0,0,0,10487.977656,12397.378420,10323.321541,13052.602925,1,1
14141,20170814,1,-34.579235,-58.427718,80.00000,72.000000,4,0,0,0,0,0,0,6160.408711,10267.374689,11340.063356,14632.647113,1,1
14142,20170805,3,-34.634973,-58.397226,84.00000,79.000000,4,0,0,0,0,1,0,3879.812977,7340.726281,13137.289910,16571.347176,1,0
14143,20170812,1,-34.581744,-58.452179,46.00000,46.000000,4,0,0,0,0,1,0,8051.225623,9404.307745,9218.628627,12443.278980,0,1
14144,20170828,3,-34.610641,-58.513670,129.00000,116.000000,4,0,1,0,0,1,0,13132.317221,7342.727232,2734.941468,6067.495920,0,0
14145,20170805,3,-34.628176,-58.537602,123.00000,123.000000,2,0,0,1,0,0,0,15481.456151,7545.347189,679.471494,3703.732027,0,0
14146,20170811,1,-34.570697,-58.489610,41.00000,3.000000,4,0,0,0,0,0,0,11692.413792,10689.163979,7367.290098,10045.559911,1,1
14147,20170809,1,-34.642269,-58.373707,58.00000,58.000000,4,0,0,1,1,0,0,3819.025924,9044.396124,15374.708101,18787.098380,0,0
14148,20170826,3,-34.615326,-58.480905,101.00000,57.000000,4,0,0,0,0,0,0,10161.073187,5663.019533,5459.599003,8928.004928,0,0
14149,20170807,3,-34.646726,-58.583319,132.00000,120.000000,2,0,0,0,0,0,0,19970.925808,10703.896995,4808.216505,2534.560002,0,0
14150,20170824,3,-34.639036,-58.494699,59.00000,52.000000,4,0,0,0,0,0,1,11900.202236,3769.655819,4535.580916,7779.097549,0,0
14151,20170805,1,-34.606994,-58.400618,94.00000,92.000000,4,0,0,0,0,0,0,2780.512662,8975.984271,12868.247582,16336.985453,1,0
14152,20170805,1,-34.612774,-58.428616,74.00000,59.000000,4,0,0,0,1,0,0,5367.164426,6881.968073,10246.039976,13719.073023,1,0
14153,20170805,3,-34.615345,-58.384455,116.00000,116.000000,4,0,0,0,0,1,0,1530.533104,9485.366866,14254.469884,17729.285378,1,0
14154,20170820,2,-34.568670,-58.475239,475.00000,373.000000,4,0,0,0,0,0,0,10564.291022,10756.495516,8413.080434,11253.831352,0,1
14155,20170803,2,-34.863198,-58.397226,285.00000,120.000000,3,0,0,0,0,0,0,28490.606502,22970.182020,29797.899778,31276.324115,0,0
14156,20170826,2,-34.599224,-58.560475,153.00000,108.000000,2,0,1,0,0,1,0,17443.603391,11167.520154,3189.673356,3218.720202,0,1
14157,20170826,1,-34.635260,-58.576449,82.00000,40.000000,2,0,0,0,0,0,0,19115.565534,10423.264530,3638.084134,1214.449369,0,0
14158,20170819,3,-34.644687,-58.545502,42.00000,107.405512,2,0,0,0,0,0,0,16550.015273,7404.632761,2534.315863,3719.360803,0,0
14159,20170806,1,-34.584024,-58.425430,60.00000,60.000000,4,0,0,0,0,0,0,5714.601818,9855.005964,11318.568070,14657.264347,1,1
14160,20170806,1,-34.584024,-58.425430,60.00000,60.000000,4,0,0,0,0,0,0,5714.601818,9855.005964,11318.568070,14657.264347,1,1
14161,20170801,1,-34.611575,-58.363031,109.00000,96.000000,4,0,0,0,0,0,1,770.405324,11350.190088,16239.271736,19714.162330,0,0
14162,20170817,3,-34.782131,-58.415740,38.00000,26.000000,3,0,0,0,0,1,0,19806.757373,13874.539432,21091.525895,22969.125755,0,0
14163,20170801,2,-34.758525,-58.409720,219.00000,135.000000,3,0,0,0,0,0,0,17123.745446,11692.065879,19268.003381,21424.506248,0,0
14164,20170825,1,-34.563221,-58.461053,62.00000,48.000000,4,0,1,1,0,0,0,9695.230913,11365.715114,9770.985499,12674.012674,1,1
14165,20170812,2,-34.709192,-58.530289,367.00000,130.000000,2,0,1,0,0,0,0,18465.625731,7474.572500,9698.356356,10386.340337,0,1

In [82]:
testBagging2 = data
#testBagging2['created_on'] = pd.to_datetime(testBagging2['created_on'])
#dicc_tipos_prop = {"apartment" : 1, "house" : 2, "PH" : 3, "store" : 4}
#dicc_tipos_zona = {"Bs.As. G.B.A. Zona Norte": 1, "Bs.As. G.B.A. Zona Oeste": 2, "Bs.As. G.B.A. Zona Sur": 3, "Capital Federal": 4, "Buenos Aires Interior": 4 }
#testBagging2.loc[:, 'property_type'] = testBagging2.property_type.apply(lambda x: dicc_tipos_prop.get(x))
#testBagging2.loc[:, 'zona'] = testBagging2.zona.apply(lambda x: dicc_tipos_zona.get(x))
#testBagging2.loc[:, 'created_on'] = testBagging2.created_on.apply(fechaNumerica)
testBagging2 = testBagging2.drop('barrio', axis = 1)
testBagging2 = testBagging2.drop('price_usd_per_m2', axis = 1)

x_train12, y_train12 = generarMuestra(testBagging2)
x_train22, y_train22 = generarMuestra(testBagging2)
x_train32, y_train32 = generarMuestra(testBagging2)

x_test2, y_test2 = generarTest(testBagging2)

dt2 = DecisionTreeRegressor(max_depth = 25)
dt_fit12 = dt2.fit(x_train12, y_train12)
dt_fit22 = dt2.fit(x_train22, y_train22)
dt_fit32 = dt2.fit(x_train32, y_train32)

In [83]:
dt_scores12 = cross_val_score(dt2, x_train12, y_train12, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores12)))
dt_scores22 = cross_val_score(dt2, x_train22, y_train22, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores22)))
dt_scores32 = cross_val_score(dt2, x_train32, y_train32, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores32)))

mean cross validation score: 0.794083272106
mean cross validation score: 0.748004302513
mean cross validation score: 0.806471058433

In [14]:
predicciones2 = []

predicciones2.append(dt_fit12.predict(setTesteo2))
predicciones2.append(dt_fit22.predict(setTesteo2))
predicciones2.append(dt_fit32.predict(setTesteo2))

dfPredictions2 = pd.DataFrame(predicciones2)
avgPrediction2 = dfPredictions2.mean(axis=0).values

In [15]:
dataPredictions2 = {'id' : testId2,
        'price_usd' : avgPrediction2}
testPrediction2 = pd.DataFrame(dataPredictions2)
testPrediction2

            id      price_usd
0         3632  490000.000000
1         3633  360000.000000
2      2263404  142000.000000
3      2263405   69543.750000
4      2263406  100677.333333
5      2263407   69543.750000
6      2263408   69543.750000
7      2263409   69543.750000
8      2263410   89000.000000
9      2263411   75000.000000
10     2263412   75000.000000
11     2263413   75000.000000
12     2263415  585000.000000
13     2263416  360000.000000
14     2263417  116043.000000
15     2263418  116043.000000
16     2263419  116043.000000
17     2263420  116043.000000
18     2263421  116043.000000
19     2263422  116043.000000
20     2263423  116043.000000
21     2263424  116043.000000
22     2263425  185651.000000
23     2263426  185651.000000
24     2263427  185651.000000
25     2263428  185651.000000
26     2263429  185651.000000
27     2263430  116043.000000
28     2263431  116043.000000
29     2263432   69543.750000
...        ...            ...
14136  2245037   82000.000000
14137  2245039   66000.000000
14138  2245041  227000.000000
14139  2245042  125000.000000
14140  2245071  112000.000000
14141  2245093  360000.000000
14142  2245123  162000.000000
14143  2245124  125000.000000
14144  2245167  148000.000000
14145  2245170  160000.000000
14146  2245172   59500.000000
14147  2245180  120000.000000
14148  2245185  110802.830000
14149  2245186  135000.000000
14150  2245187   92427.910000
14151  2245203  108975.000000
14152  2245221  110802.830000
14153  2245222  324123.210000
14154  2245228  280000.000000
14155  2245266  170000.000000
14156  2245331  148000.000000
14157  2245345   95000.000000
14158  2245921  135000.000000
14159  2245929  142475.000000
14160  2245930  142475.000000
14161  2245938  510000.000000
14162  2245978   75000.000000
14163  2246083  170000.000000
14164  2246089   95000.000000
14165  2246127  170000.000000

[14166 rows x 2 columns]

In [16]:
#exportar csv con formato para kaggle
fileName = "pricePrediction2.csv"
testPrediction2.to_csv(fileName, sep=',', index = False)

In [85]:
setTesteo3 = pd.read_csv("setTesteo.csv", low_memory=False)
testId3 = setTesteo3['id']
setTesteo3['created_on'] = pd.to_datetime(setTesteo3['created_on'])
dicc_tipos_prop = {"apartment" : 1, "house" : 2, "PH" : 3, "store" : 4}
dicc_tipos_zona = {"Bs.As. G.B.A. Zona Norte": 1, "Bs.As. G.B.A. Zona Oeste": 2, "Bs.As. G.B.A. Zona Sur": 3, "Capital Federal": 4, "Buenos Aires Interior": 4 }
setTesteo3.loc[:, 'property_type'] = setTesteo3.property_type.apply(lambda x: dicc_tipos_prop.get(x))
setTesteo3.loc[:, 'zona'] = setTesteo3.zona.apply(lambda x: dicc_tipos_zona.get(x))
setTesteo3.loc[:, 'created_on'] = setTesteo3.created_on.apply(fechaNumerica)
setTesteo3['surface_total_in_m2'] = setTesteo3.apply(salvarSupTotal, axis=1)
setTesteo3['surface_covered_in_m2'] = setTesteo3.apply(salvarSupCovered, axis=1)
setTesteo3.loc[:, 'barrio'] = setTesteo3.barrio.apply(lambda x: dicc_barrios.get(x))
setTesteo3 = setTesteo3.drop('Unnamed: 0', axis = 1)
setTesteo3 = setTesteo3.drop('lat', axis = 1)
setTesteo3 = setTesteo3.drop('lon', axis = 1)
setTesteo3 = setTesteo3.drop('id', axis = 1)
setTesteo3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 18 columns):
created_on                 14166 non-null int64
property_type              14166 non-null int64
barrio                     14166 non-null int64
surface_total_in_m2        14166 non-null float64
surface_covered_in_m2      14166 non-null float64
zona                       14166 non-null int64
pileta                     14166 non-null int64
cochera                    14166 non-null int64
aire acondicionado         14166 non-null int64
seguridad                  14166 non-null int64
patio                      14166 non-null int64
amenities                  14166 non-null int64
distanciaCentro            14166 non-null float64
distanciaAIndoamericano    14166 non-null float64
distanciaAFuerteApache     14166 non-null float64
distanciaACarlosGardel     14166 non-null float64
subtes_cercanos            14166 non-null int64
trenes_cercanos            14166 non-null int64
dtypes: float64(6), int64(12)
memory usage: 1.9 MB

In [87]:
testBagging3 = data
#testBagging2['created_on'] = pd.to_datetime(testBagging2['created_on'])
#dicc_tipos_prop = {"apartment" : 1, "house" : 2, "PH" : 3, "store" : 4}
#dicc_tipos_zona = {"Bs.As. G.B.A. Zona Norte": 1, "Bs.As. G.B.A. Zona Oeste": 2, "Bs.As. G.B.A. Zona Sur": 3, "Capital Federal": 4, "Buenos Aires Interior": 4 }
#testBagging2.loc[:, 'property_type'] = testBagging2.property_type.apply(lambda x: dicc_tipos_prop.get(x))
#testBagging2.loc[:, 'zona'] = testBagging2.zona.apply(lambda x: dicc_tipos_zona.get(x))
#testBagging2.loc[:, 'created_on'] = testBagging2.created_on.apply(fechaNumerica)
#testBagging3.loc[:, 'barrio'] = testBagging3.barrio.apply(lambda x: dicc_barrios.get(x))
testBagging3 = testBagging3.drop('lat', axis = 1)
testBagging3 = testBagging3.drop('lon', axis = 1)
testBagging3 = testBagging3.drop('price_usd_per_m2', axis = 1)

testBagging3

,created_on,property_type,barrio,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,zona,pileta,cochera,aire acondicionado,seguridad,patio,amenities,distanciaCentro,distanciaAIndoamericano,distanciaAFuerteApache,distanciaACarlosGardel,subtes_cercanos,trenes_cercanos
0,20140110,1,0,77000.0,44.0,40.000000,4,0,0,0,0,0,0,3728.683490,7284.985465,12463.185316,15922.651948,1,0
1,20140110,1,1,390000.0,273.0,206.000000,4,0,1,0,0,0,0,7704.825003,11624.073663,11540.040628,14646.165219,0,1
2,20140111,1,2,250000.0,137.0,74.000000,4,0,0,0,0,0,0,7688.155494,11234.540034,11151.326816,14278.088850,1,1
3,20140111,1,3,153000.0,83.0,81.000000,4,0,0,0,0,0,0,7689.131527,4654.507710,8107.854890,11567.469492,1,0
4,20140121,1,4,165000.0,105.0,65.000000,4,0,1,1,0,1,0,12871.516507,4452.799326,3660.454668,6810.078564,0,0
5,20140124,3,5,180000.0,150.0,100.000000,4,0,0,0,0,0,0,11888.450918,12365.880828,9175.937813,11663.189939,0,1
6,20140124,1,6,110000.0,62.0,56.000000,4,0,1,0,0,0,0,10514.728117,3031.673020,5911.260030,9221.373349,0,0
7,20140128,1,1,410000.0,120.0,105.000000,4,0,1,0,0,0,0,4284.290597,10725.727308,12975.635148,16348.032204,1,0
8,20140201,1,6,100000.0,54.0,52.000000,4,0,0,0,0,0,0,10324.192488,4580.650495,5397.475191,8855.530004,0,0
9,20140206,1,7,78000.0,80.0,70.000000,4,0,0,0,0,0,0,15798.072334,11710.301885,5030.382984,6360.710224,0,1
10,20140206,1,7,68000.0,80.0,70.000000,4,0,0,0,0,0,0,15798.072334,11710.301885,5030.382984,6360.710224,0,1
11,20140206,1,7,72000.0,55.0,48.000000,4,0,0,0,0,0,0,15798.072334,11710.301885,5030.382984,6360.710224,0,1
12,20140211,1,2,450000.0,195.0,180.000000,4,0,0,0,0,0,0,8551.772617,11240.865367,10519.355907,13562.057690,1,1
13,20140213,1,8,89500.0,47.0,40.000000,4,0,0,0,0,0,0,3189.749106,8901.438152,12519.558122,15983.065474,1,0
14,20140217,1,7,44000.0,50.0,50.000000,4,0,0,0,0,0,0,12261.775288,1750.503502,9063.426904,11621.602831,0,1
15,20140218,1,2,145000.0,50.0,50.000000,4,0,1,0,1,0,1,8604.686732,12755.499920,12151.020217,15120.722001,0,0
16,20140218,1,2,99000.0,38.0,33.000000,4,0,0,0,0,0,0,9524.967282,11463.369324,10009.733665,12927.404643,1,1
17,20140218,1,2,98000.0,37.0,33.000000,4,0,0,0,0,0,0,8797.268389,10811.628573,9896.567784,12942.797394,1,1
18,20140219,1,5,55500.0,24.0,24.000000,4,0,1,1,1,0,0,11933.617084,12385.053350,9163.069030,11640.335601,0,1
19,20140219,1,5,109500.0,81.0,48.000000,4,0,1,1,1,0,0,11933.617084,12385.053350,9163.069030,11640.335601,0,1
20,20140220,1,2,98300.0,43.0,36.000000,4,0,0,0,0,0,0,10316.990045,12077.668585,10081.568090,12853.455845,1,0
21,20140220,1,2,99900.0,43.0,36.000000,4,0,0,0,0,0,0,10316.990045,12077.668585,10081.568090,12853.455845,1,0
22,20140220,1,9,115000.0,38.0,32.000000,4,0,0,0,0,0,1,4233.945557,10846.412317,13112.761599,16483.730113,0,0
23,20140221,1,10,61500.0,37.0,34.000000,4,0,0,1,0,0,0,9953.826336,5138.605804,5669.902528,9144.715529,0,0
24,20140221,1,10,71700.0,48.0,46.000000,4,0,0,1,0,0,0,9953.826336,5138.605804,5669.902528,9144.715529,0,0
25,20140222,1,11,216000.0,87.0,76.000000,4,0,1,0,1,0,1,10399.030594,10919.177802,8724.055006,11571.380750,0,1
26,20140223,1,12,450000.0,218.0,65.501718,4,0,0,0,0,0,0,3507.735549,10861.487389,13570.142920,16970.543475,1,0
27,20140223,1,13,89000.0,34.0,71.083192,4,1,0,0,0,0,1,8688.126636,10726.271355,9896.671266,12960.274793,1,1
28,20140223,1,13,164000.0,86.0,62.000000,4,0,0,0,0,0,0,10149.881548,10842.723865,8848.453315,11735.924200,0,1
29,20140225,1,14,155000.0,56.0,41.000000,4,0,1,0,0,0,1,10453.536701,12248.266091,10174.104254,12916.167196,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86816,20170801,1,87,92500.0,58.0,53.000000,3,0,1,1,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86817,20170801,1,87,92500.0,59.0,54.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86818,20170801,1,87,130200.0,79.0,74.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86819,20170801,1,87,65900.0,38.0,36.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86820,20170801,1,87,93500.0,58.0,53.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86821,20170801,1,87,93500.0,59.0,54.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86822,20170801,1,87,131200.0,81.0,71.000000,3,0,0,0,0,0,0,25005.676600,17004.548747,22746.199811,23776.289578,0,1
86823,20170801,1,109,452100.0,145.0,135.000000,1,0,1,0,0,0,0,15361.269386,17331.984582,13323.026201,15092.662341,0,1
86824,20170801,1,2,490000.0,170.0,109.000000,4,0,0,0,0,0,0,8962.315187,11346.060135,10317.812497,13309.600981,1,1
86825,20170801,1,13,144000.0,62.0,59.000000,4,0,1,1,0,0,0,5575.967030,6891.759243,10042.279077,13513.305754,1,0
86826,20170801,1,13,141000.0,62.0,59.000000,4,0,1,1,0,0,0,5575.967030,6891.759243,10042.279077,13513.305754,1,0
86827,20170801,1,13,138800.0,62.0,59.000000,4,0,1,1,0,0,0,5575.967030,6891.759243,10042.279077,13513.305754,1,0
86828,20170801,1,13,133000.0,62.0,59.000000,4,0,1,1,0,0,0,5575.967030,6891.759243,10042.279077,13513.305754,1,0
86829,20170801,2,88,207000.0,230.0,230.000000,3,0,0,0,0,1,0,17171.295181,11866.649519,19464.821966,21633.162034,0,0
86830,20170801,1,13,137000.0,62.0,59.000000,4,0,1,1,0,0,0,5575.967030,6891.759243,10042.279077,13513.305754,1,0
86831,20170801,1,14,380000.0,107.0,67.000000,4,0,0,0,1,0,1,10598.729599,12735.375756,10642.933361,13340.220181,1,1
86832,20170801,1,109,548200.0,145.0,135.000000,1,0,1,0,0,0,0,15361.269386,17331.984582,13323.026201,15092.662341,0,1
86833,20170801,1,11,219000.0,57.0,54.000000,4,0,1,0,0,0,0,10826.105400,11383.427388,8881.603499,11625.451703,0,1
86834,20170801,1,109,652200.0,177.0,167.000000,1,0,1,0,0,0,0,15361.269386,17331.984582,13323.026201,15092.662341,0,1
86835,20170801,1,3,330000.0,123.0,108.000000,4,0,1,0,0,0,0,6745.746551,5640.929210,8906.651841,12380.829668,1,0
86836,20170801,1,31,245000.0,106.0,90.000000,4,0,0,0,0,0,0,3179.647626,10152.561963,13203.776318,16633.808743,1,0
86837,20170801,2,79,120000.0,150.0,150.000000,2,0,0,0,0,0,0,20346.082090,12663.205306,4881.361860,1733.430510,0,0
86838,20170801,1,88,140000.0,52.0,52.000000,3,0,0,0,0,0,0,17171.295181,11866.649519,19464.821966,21633.162034,0,0
86839,20170801,1,9,142000.0,33.0,31.000000,4,0,0,0,0,0,0,2849.505940,10567.195881,13714.894604,17144.215958,1,0
86840,20170801,1,9,215000.0,100.0,95.000000,4,0,0,0,0,1,0,2849.505940,10567.195881,13714.894604,17144.215958,1,0
86841,20170801,1,1,145000.0,57.0,40.000000,4,0,0,1,0,1,0,7498.599474,10385.949829,10478.140994,13671.068253,1,1
86842,20170801,2,150,118000.0,110.0,110.000000,1,0,0,0,0,0,0,48276.993233,45108.530319,37131.526840,35012.985736,0,0
86843,20170801,1,31,155000.0,44.0,40.000000,4,0,0,0,0,0,0,3831.587823,11026.149068,13521.475285,16904.950857,1,0
86844,20170801,1,21,219000.0,57.0,54.000000,4,0,1,0,0,0,0,11061.865868,10330.370878,7536.404323,10357.054688,1,1
86845,20170801,2,2,108000.0,40.0,40.000000,4,0,0,0,0,0,0,7357.275082,10438.036036,10629.831563,13830.432464,1,1

In [88]:
x_train1, y_train1 = generarMuestra2(testBagging3)
x_train2, y_train2 = generarMuestra2(testBagging3)
x_train3, y_train3 = generarMuestra2(testBagging3)

x_test1, y_test1 = generarTest2(testBagging3)

dt3 = DecisionTreeRegressor()
dt_fit1 = dt3.fit(x_train1, y_train1)
dt_fit2 = dt3.fit(x_train2, y_train2)
dt_fit3 = dt3.fit(x_train3, y_train3)

In [90]:
dt_scores1 = cross_val_score(dt3, x_train1, y_train1, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores1)))
dt_scores2 = cross_val_score(dt3, x_train2, y_train2, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores2)))
dt_scores3 = cross_val_score(dt3, x_train3, y_train3, cv = 11)
print("mean cross validation score: {}".format(np.mean(dt_scores3)))

mean cross validation score: 0.743788386764
mean cross validation score: 0.798865795181
mean cross validation score: 0.806594498546

In [91]:
predicciones3 = []

predicciones3.append(dt_fit1.predict(setTesteo3))
predicciones3.append(dt_fit2.predict(setTesteo3))
predicciones3.append(dt_fit3.predict(setTesteo3))

dfPredictions3 = pd.DataFrame(predicciones3)
avgPrediction3 = dfPredictions3.mean(axis=0).values

In [96]:
dataPredictions3 = {'id' : testId3,
        'price_usd' : avgPrediction3}
testPrediction3 = pd.DataFrame(dataPredictions3)
testPrediction3

            id     price_usd
0         3632  5.300000e+05
1         3633  5.286120e+05
2      2263404  1.117000e+05
3      2263405  8.490000e+04
4      2263406  1.008517e+05
5      2263407  8.490000e+04
6      2263408  8.490000e+04
7      2263409  8.490000e+04
8      2263410  2.106308e+05
9      2263411  8.300000e+04
10     2263412  8.300000e+04
11     2263413  8.300000e+04
12     2263415  5.850000e+05
13     2263416  5.286120e+05
14     2263417  1.101070e+05
15     2263418  1.101070e+05
16     2263419  1.101070e+05
17     2263420  1.101070e+05
18     2263421  1.101070e+05
19     2263422  1.101070e+05
20     2263423  1.101070e+05
21     2263424  1.101070e+05
22     2263425  1.450210e+05
23     2263426  1.650000e+05
24     2263427  1.650000e+05
25     2263428  1.650000e+05
26     2263429  1.650000e+05
27     2263430  1.101070e+05
28     2263431  1.101070e+05
29     2263432  7.933333e+04
...        ...           ...
14136  2245037  1.170000e+05
14137  2245039  7.000000e+04
14138  2245041  1.472720e+05
14139  2245042  1.423000e+05
14140  2245071  7.000000e+04
14141  2245093  5.286120e+05
14142  2245123  1.380000e+05
14143  2245124  4.068422e+04
14144  2245167  1.490000e+05
14145  2245170  8.700000e+04
14146  2245172  6.900000e+04
14147  2245180  8.900000e+04
14148  2245185  9.000000e+04
14149  2245186  5.800000e+04
14150  2245187  1.200000e+05
14151  2245203  1.800360e+05
14152  2245221  1.079000e+05
14153  2245222  1.120000e+05
14154  2245228  3.100000e+06
14155  2245266  4.500000e+05
14156  2245331  8.500000e+04
14157  2245345  7.300000e+04
14158  2245921  1.650000e+05
14159  2245929  9.300000e+04
14160  2245930  9.300000e+04
14161  2245938  5.300000e+05
14162  2245978  3.500000e+04
14163  2246083  4.500000e+05
14164  2246089  1.571000e+05
14165  2246127  1.400000e+05

[14166 rows x 2 columns]

In [97]:
#exportar csv con formato para kaggle
fileName = "pricePrediction3.csv"
testPrediction3.to_csv(fileName, sep=',', index = False)